@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Colors from https://www.materialpalette.com/blue-grey/blue */
:root {
  --dark-primary-color: #455a64;
  --light-primary-color: #cfd8dc;
  --primary-color: #607d8b;
  --text-icons: #ffffff;
  --accent-color: #448aff;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #bdbdbd;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
  color: var(--primary-text);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}
